.currency-status {
    text-align: center;
}
ul {
  list-style-type: none;
}
.currency-status li a {
    font-size: 14px;
    font-weight: normal;
    padding: 0 15px;
    display: inline-block;
    color: #cacaca;
    border-left: 1px solid #444;
}
.fa-caret-down {
  color: #f00;
}
.fa-caret-up {
  color: green;
}
@media screen and (max-width: 983px) {
  .currency-status li a {
    border-left: none;
    display: block;
    padding: 0;
  }
}
